.app-bar{
  height: 62px;
  display: flex
}

.header {
	padding: 0px 5px 0px 0px;
	height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .menu-button {
    padding: 0px 0px;
    width: 40px;
  }



  h4 {
    font-size: 1.4rem;
    font-weight: 440;
    padding-left: 10px;
    color: #5f6368;
  }

  .searchinput{
    margin-left: 60px;
    width: 300px;
    background-color: #ffff;
  }

	button{
		height: 30px;
		width: 70px;
	}

  .logout-link {
		padding-left: 70px;

		button{
			height: 30px;
			width: 70px;
      
		}
	}

	.searchbar{
		height: 48px;
		border-radius: 6px;
	}

  .header-icons{
    display: flex;
    flex-direction: row;
    //border: 2px solid red;
    margin-left: auto;

    .icon-button{
      padding: 0px 25px;
      width: 40px;
    }
  }
}

hr{
	margin-top: 0px;
}

